$dimensions: (
  '0': 0,
  'auto': auto,
  'one-half': 50%,
  'one-third': 33.333333%,
  'two-thirds': 66.666667%,
  'one-fourth': 25%,
  'two-fourths': 50%,
  'three-fourths': 75%,
  'one-fifth': 20%,
  'two-fifths': 40%,
  'three-fifths': 60%,
  'four-fifths': 80%,
  'one-sixth': 16.666667%,
  'two-sixths': 33.333333%,
  'three-sixths': 50%,
  'four-sixths': 66.666667%,
  'five-sixths': 83.333333%,
  'one-twelfth': 8.333333%,
  'two-twelfths': 16.666667%,
  'three-twelfths': 25%,
  'four-twelfths': 33.333333%,
  'five-twelfths': 41.666667%,
  'six-twelfths': 50%,
  'seven-twelfths': 58.333333%,
  'eight-twelfths': 66.666667%,
  'nine-twelfths': 75%,
  'ten-twelfths': 83.333333%,
  'eleven-twelfths': 91.666667%,
  '1-percent': 1%,
  '48-percent': 48%,
  'full': 100%,
  'screen': 100vw,
  'min': min-content,
  'max': max-content,
);
@for $i from 0 through 12 {
  $dimensions: map-merge(
    $dimensions,
    (
      '#{$i}': #{$i}px,
    )
  );
}
$dimensions: map-merge(
  $dimensions,
  (
    '14': 14px,
  )
);
$i: 16;
@while $i <= 800 {
  $dimensions: map-merge(
    $dimensions,
    (
      '#{$i}': #{$i}px,
    )
  );
  $i: $i + 4;
}

$padding-margin-dimensions: (
  '0': 0px,
  'auto': auto,
);
$i: 1;
@while $i <= 40 {
  $padding-margin-dimensions: map-merge(
    $padding-margin-dimensions,
    (
      '#{$i}': $i*4px,
      'n#{$i}': $i * -4px,
    )
  );
  $i: $i + 1;
}
