// NOTE TO FUTURE DEVELOPERS
// IF YOU ADD OR REMOVE A COLOR, MAKE THE CORRESPONDING CHANGE TO THE MAP IN _COLORS-EXPORT.SCSS
$black: #434343;
$gray-light: #9c9c9c;
$gray-mid-light: #cacdd3;
$gray-lighter: #f5f7f8;
$gray-border: #e6e8ea;
$gray-header: #fafafc;
$gray-header-alt: #EFF3F4;
$white: #ffffff;
$black-true: #000000;
$red: #ff3c50;
$orange: #ea7721;
$yellow: #f7b100;
$green: #00dd9c;
$blue: #00a6f2;
$purple: #6808f0;
$primary: $blue;
$success: $green;
$success-background: desaturate(lighten($success, 54%), 40%);
$warning: $orange;
$error: $red;
$error-background: desaturate(lighten($error, 36%), 50%);

$info: $primary;
$secondary: #f2fafe;
$action: #459fb1;
$accent: #d4e3f2;